<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-jp_encode_decode" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>jp_encode_decode</name>

    <js-module name="jp_encode_decode" src="www/jp_encode_decode.js">
        <clobbers target="jp_encode_decode" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">

            <feature name="jp_encode_decode">
                <param name="ios-package" value="jp_encode_decode" />
            </feature>
        </config-file>
        <source-file src="src/ios/jp_encode_decode.swift" />
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
    </platform>
</plugin>